<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="{% url 'mainapp:main' %}">Солнечное настроение!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <!-- Страны -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Страны
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'mainapp:countries_list' %}">Список стран</a></li>

          </ul>
        </li>

        <!-- Регионы -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Регионы
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'mainapp:regions_list' %}">Список регионов</a></li>

          </ul>
        </li>

        <!-- Отели -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Отели
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'mainapp:hotel_list' %}">Список отелей</a></li>

          </ul>
        </li>

        <!-- Бронирования -->
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mainapp:booking_list' %}">Мои бронирования</a>
          <a class="nav-link" href="{% url 'orderapp:order_list' %}">Мои заказы</a>
        </li>
        {% endif %}

        <!-- Профиль / Вход / Выход -->
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-danger" href="{% url 'userapp:logout' %}">Выйти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'userapp:profile' %}">Профиль</a>
        </li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'userapp:login' %}">Войти</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'userapp:register' %}">Регистрация</a></li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>